html{
  background-color: #504b4b;
}
body {
    padding-top: 70px;
  }

  .navbar {
    background-color: #007bff;
    margin-bottom: 10px;
  }

  .navbar-brand {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .navbar-brand .heart-icon {
    font-size: 30px;
    margin-right: 5px;
  }

  .navbar-brand .ekg-icon {
    font-size: 24px;
    margin-right: 5px;
  }

  .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    color: rgb(198, 37, 37);
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }